<!DOCTYPE html>
<html>
<head>
    <title> Designing the Scroll Bar </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
	html {
		scroll-behavior: smooth;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>
</head>
<body>
<style>
	.youtube-data-slider{
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		overflow-x: scroll;
		scroll-behavior: smooth;
		
	}
	.youtube-data-slider::-webkit-scrollbar{
		display: none;
	}
	.youtube-data-slider > div{
		width: 20%;
		background-color: red;
		height: 350px;
		flex-shrink: 0;
		padding: 0.2%;
		border: 1px solid grey;
		box-shadow: inset 1px 1px 3px 3px lightgrey;
	}
	h1{
		user-select: none;
	}
</style>

<div style="position: relative;">
	<div id="slider" class="youtube-data-slider">
		<div> <img src="https://picsum.photos/1300/700" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: cyan;" id="box2"> <img src="https://picsum.photos/1300/701" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: yellow;"> <img src="https://picsum.photos/1300/700" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: pink;"> <img src="https://picsum.photos/1300/702" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: grey;"> <img src="https://picsum.photos/1300/700" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: blue;"> <img src="https://picsum.photos/1300/701" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: lightgreen;"> <img src="https://picsum.photos/1300/700" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: magenta;"> <img src="https://picsum.photos/1300/702" style="width: 100%; height: auto;" /> </div>
		<div> <img src="https://picsum.photos/1300/703" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: darkgrey;"> <img src="https://picsum.photos/1300/700" style="width: 100%; height: auto;" /> </div>
		<div style="background-color: orange;"> <img src="https://picsum.photos/1300/700" style="width: 100%; height: auto;" /> </div>
		<div> <img src="https://picsum.photos/1300/701" style="width: 100%; height: auto;" /> </div>
	</div>
	
	<div onclick="function1(-1)" style="cursor: pointer; box-shadow: inset 1px 1px 3px 3px grey; border-radius: 50px; position: absolute; left: 0; width: 40px; height: 40px; background-color: white; top: 45%;">
		<h1 style="text-align: center"> &lsaquo; </h1>
	</div>
	<div onclick="function1(1)"  style="cursor: pointer; box-shadow: inset 1px 1px 3px 3px grey;border-radius: 50px; position: absolute; right: 0; width: 40px; height: 40px; background-color: white; top: 45%;">
		<h1 style="text-align: center;"> &rsaquo; </h1>
	</div>
</div>

<script>

let scrollview = document.getElementById("slider");

function function1(value1){

	if(value1 == 1){
	
		scrollview.scrollLeft += document.body.scrollWidth * (80/100);
	}
	else{
		console.log(value1);
		scrollview.scrollLeft -= document.body.scrollWidth * (80/100);
	}
}

window.onresize = () => {
	console.log(document.body.scrollWidth);
}

</script>
</body>
</html>